/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */

#header {
	background: #1b2d3d; /* Old browsers */
	
	background: url('../images/DiagonalStripes_Large.png'), linear-gradient(to bottom, #1e506d 0%,#112f40 100%);
	background-repeat: no-repeat;
	background-position: right center;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#112f40', endColorstr='#1e506d',GradientType=0 ); /* IE6-9 */
}

.header__logo img{
	width: 350px;
}

.org-admin-links{
	background: #fff;
}

.org-admin-links ul{
	margin-top: 3px;
	padding-bottom: 8px;
}

#navigation {
    padding: 0 2px;
		border-top: 1px solid #4a657f;
    background-color: #c87931;
		border-bottom: 8px solid #26496a;/* #b3bac0;*/
		height: 3.7em;
    /*background-image: -moz-linear-gradient(center top , #febf4c 0%, #ff8600 100%);
		*/
}

#navigation ul.links {
    /* color: #68696b; */
    font-size: 1.1em;
}

#navigation ul.links li a{
	color: #ffffff;
}

#main-menu ul.links li{
    float: left;
    list-style: none;
    padding: 0 4px 2px 4px;
    margin: 0 1px;
}

#main-menu{
		border-bottom: 2px solid #4a657f;
		height: 2.9em;
}

body{
		background-image: url('../images/investigating crown-Light-1600.jpg');
		background-position: center 130px;
		background-repeat: no-repeat;
		
		/*font-family:'Arial,Verdana,sans-serif';*/
}
article.node{
	background-color: rgba(255,255,255,.8);
}

article.node .field-name-body{
	padding: 3px 3px 3px 10px;
}

#content{
	padding-top:15px ;
	padding-left: 0px;
	padding-right: 0px;
}


#content a{
	color: #c87931;
}

#content .messages__item > a {
  color: #1e506d;
}

#main-menu a {
    color: #333;
    float: left;
    height: 2.4em;
    line-height: 2.6em;
    padding: 0 0.8em .1em 0.8em;
    text-decoration: none;
  /*  text-shadow: 0 1px #eee;
    -khtml-border-radius-topleft: 8px;
    -khtml-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;-1600
	*/
}

#main-menu li a.active, #main-menu li.active-trail a {
    background: #1e506d;
		border-top: 2px solid #b5c1cc;
		border-left: 2px solid #b5c1cc;
		border-right: 3px solid #b5c1cc;
}

form .field-multiple-table th.field-label,
form .field-multiple-table td {
    /*padding-left: 10px;*/
}

#main-menu ul.links li.menu-514{
	float: right;
	margin-right: 100px;
	padding-right: 0px;
}

header.header{
	height: 115px;
}
/*
//  un -authenticated User block, "Modal Login Popup"
*/
header #block-block-3,
header #block-block-8{
  background-color: #c87931;
  clear: none;
  display: block;
  float: right;
  position: relative;
  bottom: 40px;
  width: 50px;
    background: #c87931 url("../images/lock-icon-white.png") no-repeat scroll 6px 6px;
    border: 2px solid #d4d8dc;
    border-radius: 6px;
    color: #fff;
    padding-left: 10px;
    padding-right: 8px;
    text-align: right;
}
header #block-block-8 {
	width: 70px;
	background: #c87931 url("../images/person-icon-white.png") no-repeat scroll 6px 6px;
	right: 10px;
}
#block-block-9 {
    color: #fff;
    left: 470px;
    position: absolute;
    top: 25px;
    width: 450px;
}

header #block-block-3,
header #block-block-8 {
    padding: 8px;
}

header #block-block-3 h2{
	margin: .1em;
	color: #ffffff;
	font-size: 1.3em;
}
/*
// Authenticated user, name
*/

header #block-block-6{
  clear: none;
  display: block;
  float: right;
  position: relative;
  bottom: 120px;
  width: 340px;
}

header #block-block-6 h2,
header #block-block-6 a{
	color: #ffffff;
	
}

.view-display-id-page .view-filters{
	background-color: #c87931;
}
.view.view-sharing-with-my-group.view-id-sharing_with_my_group.view-display-id-block_1 {

    display: inline-block;
    padding-left: 20px;
}

.group-snowpits-link {
    display: inline-block;
}
nav#secondary-menu{
	position: relative;
	bottom: 70px;
	left: 196px;
}

#secondary-menu ul.links a,
#block-block-3 a,
#block-block-8 a{
	color: #ffffff;
	
}

#block-user-login{
	width: 240px;
	float: left;
	padding: 6px;
	background-color: #fff;
}
#block-user-login h2{ 
  color: #c87931;
  padding: 4px 5px 4px 20px;
	background-color: #d4d8dc;
	text-transform:uppercase;
}

#block-user-login input.form-submit,
form#user-login input.form-submit{
  background: #c87931 url("../images/lock.png") no-repeat 6px 11px;
  border-radius: 6px;
	text-align: right;
	padding-left: 24px;
	padding-right: 8px;
	height: 35px;
	color: #fff;
	border: solid 2px #d4d8dc;
}

/*.not-logged-in #content .field-name-body .field-item {
    margin-left: 252px;
    padding-left: 20px;
    width: 50%;
}
*/

form#user-login-form .form-item input.form-text,
form#user-login .form-item input.form-text{
    background-color: #fdfdfd;
		background-repeat: no-repeat;
		background-position: 3px center;
    border-radius: 6px;
		width: 190px;
    height: 25px;
    line-height: 27px;
    padding: 2px 4px 1px 23px;
}
#user-login-form .form-item-name input.form-text,
#user-login .form-item-name input.form-text{
	background-image: url('../images/person-icon.png');
}

#user-login-form .form-item-pass input.form-text,
#user-login .form-item-pass input.form-text{
	background-image: url('../images/key-icon.png');
	
}

#block-user-login .form-item label,
#user-login .form-item label{
	font-weight: normal;
	padding-bottom: 3px;
}

#block-user-login .form-item{
	margin: .5em 0;
}

/*
// ALL block titles h2
*/
#content h2.block-title{
	background: -moz-linear-gradient(top, rgba(87,107,119,0.85) 0%, rgba(125,185,232,0.85) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(87,107,119,0.85) 0%,rgba(125,185,232,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(87,107,119,0.85) 0%,rgba(125,185,232,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9576b77', endColorstr='#d97db9e8',GradientType=0 ); /* IE6-9 */
	background-image: url('../images/diagonal-stripes-40.png'), linear-gradient(to bottom, #e2e4e6,#f3f3f3);
	background-repeat: no-repeat;
	background-position: right center; 
	
}
/*
//
//  format the Snowpilot login link to modal boxon the top of all pages for anonymous users
*/

#modal-content .form-item-pass,
#modal-content .form-item-name{
	margin: .2em 0;
}

div.ctools-modal-content div.popups-title {
	background-color: #c87931;
	padding-top: 1px;
	padding-bottom: 1px;
}

div.ctools-modal-content .form-item label {
	width: 10em;
}


/*
		alignment of snowpit list blocks
		also in responsive.css ~ lines 60
*/

.region.region-lower-left,
.region.region-lower-right {
    margin: 0 auto;
    width: 490px;
}

#block-views-snowpit-list-block h2.block-title,
#block-views-snowpit-list-block-1 h2.block-title {
    font-size: 2.3em;
}

/*
// snowpit list formatting
*/


.views-exposed-form label {
    color: #fff;
}

.views-exposed-form .views-exposed-widget{
	padding-left: 4px;
	border-left: 1px solid #fcfcfc;
	border-right: 1px solid #fcfcfc;
	border-bottom: 2px solid #fcfcfc;
	border-top: 2px solid #fcfcfc;
	margin-bottom:0 ;
}
.views-exposed-form .views-exposed-widgets{
	margin-bottom: 0;
	line-height: 22px;
}

.view-snowpit-list .view-content,
.view-new-test-search .view-content{
    padding-top: 10px;
}

.form-item.form-item-snowpilot-add-affiliation{
	margin-top: 0;
}

#edit-field-snowpit-visibility,
#edit-field-org-ownership{
	display: inline-block;
}

#edit-field-snowpit-visibility{
	padding-left: 15px;
}

#snowpit-profile-node-form #edit-field-org-ownership label,
#snowpit-profile-node-form #edit-field-snowpit-visibility label{
	display: block;
}
#snowpit-profile-node-form #edit-field-org-ownership{
	margin-left: 15px;
}

@font-face {
	font-family:snowsymbols;
	src:url('/sites/all/libraries/fonts/SnowSymbolsIACS.eot'); /* IE9 Compat Modes */
	src: url('/sites/all/libraries/fonts/SnowSymbolsIACS.eot?') format('embedded-opentype'),
	url('/sites/all/libraries/fonts/SnowSymbolsIACS.ttf') format('truetype');
}

body {
  line-height: 1.2;
  font-size: 75%;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
}
h1 {
  font-size: 1.357em;
  color: #000;
}
h1.title{
	background: #c87931 url("../images/diagonal-stripes_dark_40.png") no-repeat scroll 50px center;
	color: #fff;
	padding: 6px 126px;
}

h2 {
  font-size: 1.143em;
}
p {
  margin: 0 0 1.2em;
}
del {
  text-decoration: line-through;
}
tr.odd {
  background-color: #dddddd;
}
img {
  outline: 0;
}
code,
pre,
kbd,
samp,
var {
  padding: 0 0.4em;
  font-size: 0.857em;
  font-family: Menlo, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New";
}
code {
  background-color: #f2f2f2;
  background-color: rgba(40, 40, 0, 0.06);
}
pre code,
pre kbd,
pre samp,
pre var,
kbd kbd,
kbd samp,
code var {
  font-size: 100%;
  background-color: transparent;
}
pre code,
pre samp,
pre var {
  padding: 0;
}
.description code {
  font-size: 1em;
}
kbd {
  background-color: #f2f2f2;
  border: 1px outset #575757;
  margin: 0 3px;
  color: #666;
  display: inline-block;
  padding: 0 6px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
pre {
  background-color: #f2f2f2;
  background-color: rgba(40, 40, 0, 0.06);
  margin: 10px 0;
  overflow: hidden;
  padding: 15px;
  white-space: pre-wrap;
}

/* Custom styles for snowpilot */


/* default text input field width: depths, etc.   */
.form-field-type-field-collection input.form-text{
	width: 45px;
}

.form-field-type-field-collection .field-name-field-comments input.form-text{
	width: 145px;
}

.form-field-type-field-collection .field-name-field-stability-comments input.form-text{
	width: 105px;
}


.hidden{
	display: none;
}

.form-field-type-field-collection .messages{
	max-width: 275px;
}

h3.layer-title,
h3.test-title{
	margin: 0.05em 0 0.05em 0;
}

#snowpit-profile-node-form .field-name-field-grain-type,
#snowpit-profile-node-form .field-name-field-grain-type-secondary{
	margin-bottom:0;
	
}

#snowpit-profile-node-form .form-item-title{
	width: 50%;
	float: left;
	
}

#snowpit-profile-node-form .form-field-name-field-date-time{
	/*float: right;
	width: 50%;
	*/
}

#snowpit-profile-node-form .field-name-field-hardness,
#snowpit-profile-node-form .field-name-field-grain-size,
#snowpit-profile-node-form .field-name-field-height,
#snowpit-profile-node-form .field-name-field-density-top,
#snowpit-profile-node-form .field-name-field-temp-temp,
#snowpit-profile-node-form .field-name-field-depth{
	display:inline-block;

}




#snowpit-profile-node-form .field-name-field-hardness2,
#snowpit-profile-node-form .field-name-field-grain-size-max,
#snowpit-profile-node-form .field-name-field-bottom-depth,
#snowpit-profile-node-form .field-name-field-density-bottom{
	
	display: inline-block;

}

#snowpit-profile-node-form .field-name-field-bottom-depth,
#snowpit-profile-node-form .group-layers .field-name-field-depth
{
	padding-left: 25px;
	
}

#snowpit-profile-node-form .field-name-field-grain-size-max{
	padding-left: 10px;
}
#snowpit-profile-node-form .field-name-field-hardness {

    width: 40%;
	}

#snowpit-profile-node-form .field-name-field-use-multiple-grain-type,
#snowpit-profile-node-form .field-name-field-use-multiple-density,
#snowpit-profile-node-form .field-name-field-water-content,
#snowpit-profile-node-form .field-name-field-this-is-my-layer-of-greate {
/*	padding-top: 3px;
  border-top: 2px solid #fff;
  margin-top: 4px;
	*/
	/* All that was making the layers form to lengthy */
}
#snowpit-profile-node-form .field-name-field-use-multiple-grain-size,
#snowpit-profile-node-form .field-name-field-use-multiple-hardnesses{
	display: none;
}


#field-test-add-more-wrapper>div.form-item,
#field-temp-collection-add-more-wrapper>div.form-item,
#field-layer-add-more-wrapper>div.form-item,
#field-density-add-morewrapper>div.form-item{
	margin-top: 0;
}

form.node-snowpit_profile-form .form-field-type-field-collection input.cancel.form-submit{
	background-color: #fef5f1;
	color: #8c2e0b;
	float: right;
	border-radius: 6px;
	border: 1px solid #8c2e0b;
	font-size: .8em;
	position: relative;
	top: 4px;
}

form.node-snowpit_profile-form .form-field-type-field-collection input.field-add-more-submit{
	background-color: #f8fff0;
	color: #334E5F;
	border-radius: 6px;
	margin: 4px;
	border: 2px solid #d4d8dc;
}

/*
    snoww profile edit form
*/

form.node-snowpit_profile-form .form-item{
	margin: .4em 0 0 0; 
}


form.node-snowpit_profile-form .form-item-field-loaction-und{
	margin:0;
}

/*form.node-snowpit_profile-form  */

form.node-snowpit_profile-form #edit-title{
	width: 170px;
}

input#edit-field-date-time-und-0-value-datepicker-popup-0{
	width: 90px;
	
}
input#edit-field-date-time-und-0-value-timeEntry-popup-1{
	width:65px;
}

#edit-field-date-time > div{
	width: 250px;
	
}

input#edit-field-aspect-und-0-value{
	width: 30px;
}

input#edit-field-slope-angle-und-0-value{
	width: 22px;
}

input#edit-field-elevation-und-0-value{
	width: 45px;
}
#edit-field-ski-penetration-und-0-value,
#edit-field-boot-penetration-depth-und-0-value{
	width: 40px;
}

#edit-field-elevation,
#edit-field-aspect,
#edit-field-aspect-cardinal,
#edit-field-slope-angle,
#edit-field-surface-penetration,
#edit-field-boot-penetration-depth,
#edit-field-ski-penetration,
#edit-field-precipitation{
	display: inline-block;
	vertical-align: top;
	padding-bottom: 4px;
}

#edit-field-slope-angle,
#edit-field-aspect,
#edit-field-aspect-cardinal,
#edit-field-ski-penetration,
#edit-field-boot-penetration-depth{
	margin-left: 25px;
}

#edit-field-latitude,
#edit-field-longitude,
#edit-field-total-height-of-snowpack,
#edit-field-loaction{
	/*margin: 0 15px;*/
}


form.node-snowpit_profile-form #edit-field-precipitation label,
form.node-snowpit_profile-form #edit-field-air-temp label,
form.node-snowpit_profile-form #edit-field-sky-cover label,
form.node-snowpit_profile-form #edit-field-wind-speed label,
form.node-snowpit_profile-form #edit-field-wind-direction label,
form.node-snowpit_profile-form #edit-field-wind-loading label{
	width: 110px;
}

input#edit-field-total-height-of-snowpack-und-0-value{
	width: 30px;
	
}

body.page-user .profile .field-label{
	width: 150px;
}

body.page-user .profile h3.field-label{
	width: 280px;
}

.group-snowpit td.field-multiple-drag{
	display: none;
}

.group-snowpit .tabledrag-toggle-weight-wrapper{
	display: none;
}


fieldset.group-location legend,
fieldset.group-weather legend{
  bottom: 10px;
  color: #c87931;
  font-size: 1.3em;
  height: 0;
  left: 20px;
  position: relative;
}

fieldset.group-location legend span,
fieldset.group-weather legend span{
	padding-right: 27px;
	padding-left: 27px;
	background-color: #fff;
}
fieldset.group-stability legend span{
	background-color: #c87931;
}

form.node-snowpit_profile-form .fieldset-wrapper{
/*	margin-top:0px; */
}
form.node-snowpit_profile-form fieldset.group-location,
form.node-snowpit_profile-form fieldset.group-weather{
	border-top: 4px solid #c87931;
	border-bottom: none;
}

form.node-snowpit_profile-form .group-location{
	margin-top: 14px;
}

.field-group-htab .tabledrag-toggle-weight-wrapper{
	display:none;
}

form.node-snowpit_profile-form .field-name-field-hardness select.form-select{
	appearance: none;
	font-size: .9em;
}
form.node-snowpit_profile-form .field-name-field-hardness select.form-select option{
	appearance: none;
	font-size: .9em;
	padding: 2px 2px 2px 10px;
}

form.node-snowpit_profile-form .field-name-field-hardness select.form-select option:nth-child(3n) ,
form.node-snowpit_profile-form .field-name-field-hardness2 select.form-select option:nth-child(3n) {
	appearance: none;
    font-size: 1.2em;
		padding-left: 0px;
}

form.node-snowpit_profile-form .field-name-field-hardness select.form-select option:nth-child(3n+1) ,
form.node-snowpit_profile-form .field-name-field-hardness2 select.form-select option:nth-child(3n+1) {
border-bottom: 2px solid #1e506d;
}

fieldset.group-location,
fieldset.group-weather{
	margin: 0;
	padding: 0;
	border-left: none;
	border-right: none;
	
}

form.node-snowpit_profile-form .group-stability legend{
    position: relative;
    top: 5px;
		color: #fff;
}
form.node-snowpit_profile-form .group-stability .fieldset-wrapper {
    margin: 30px 10px 15px 25px;
}
/*
// Formatting checkboxes
// temporarily removing this for publication

.form-type-checkbox input {
    opacity: 0;
    position: absolute;
    z-index: -1;
		
}

.form-type-checkbox label{
	
/*	position: absolute;

		width: 20px;
		height: 20px;
		background-image: url('../images/button-unchecked.png');
		background-position: left center;
		background-repeat: no-repeat;
		padding-left: 19px;
		cursor: pointer;
	
}
*/

form.node-snowpit_profile-form #edit-field-loaction{
	height: 45px;
	padding-top:25px;
}

/*
.form-type-checkbox::before{button-unchecked.png
	content: " ";
	position: relative;
	display: inline-block;
	cursor: pointer;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 1px solid #000;
}
	*/
	
/* Temp collection field sizes: */

/* default text input field width: depths, etc.   */
.field-type-field-collection input.form-text{
	width: 35px;
}

.field-type-field-collection .field-name-field-comments input.form-text{
	width: 145px;
}

.field-type-field-collection .field-name-field-stability-comments input.form-text{
	width: 105px;
}


.field-name-field-grain-type select,
.field-name-field-grain-type-secondary select,
.grain-types{
	font-family: snowsymbols, Arial;
}
/*  Formatting the width and position of the layers, stability tests, density and temp collection tables */ 


/* Hierarchichal select for grain types */

#snowpit-profile-node-form .field-name-field-grain-type div.form-type-cshs div.select-wrapper:nth-of-type(2),
#snowpit-profile-node-form .field-name-field-grain-type-secondary div.form-type-cshs div.select-wrapper:nth-of-type(2){
	display: block;
	/*background: #dedede url('/images/grain-types/primary-rounded-grains.jpg') no-repeat -15px top;*/
}

#snowpit-profile-node-form .field-name-field-grain-type-secondary select{
	min-width: 205px;
}

#snowpit-profile-node-form .snowpilot-snowpit-bottom{
	background-color: #3B6E8B;

	background: #3B6E8B; /* Old browsers */
	background: -moz-linear-gradient(top,  #3B6E8B 0%, #334E5F 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #3B6E8B 0%,#334E5F 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #3B6E8B 0%,#334E5F 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3B6E8B', endColorstr='#334E5F',GradientType=0 ); /* IE6-9 */
	
	color: #fff;
	margin-top: .2em;
	padding-top: 4px;
	padding-left: 20px;
	padding-bottom: 4px;
	border-radius: 0 0 4px 4px;
}

#field-layer-values tbody>tr:last-child{
	border-bottom: none;
}

#snowpit-profile-node-form h3.snowpilot-snowpit-bottom .ui-icon{
	background-image: none;
}


fieldset.group-layers,
fieldset.group-stability-tests,
fieldset.group-temp-profile,
fieldset.group-density{
	float: right;
	width: 300px;
}
/*
// Formatting layers
*/

.group-layers .fieldset-wrapper > div {
    width: 300px;
}

form.node-snowpit_profile-form table.field-multiple-table tbody.ui-accordion h3{
	background:none;
}

form.node-snowpit_profile-form .group-layers,
form.node-snowpit_profile-form .group-stability-tests,
form.node-snowpit_profile-form .group-temp-profile,
form.node-snowpit_profile-form .group-density{
	background: #fff;
  padding: 0;
}

form.node-snowpit_profile-form table.field-multiple-table tbody.ui-accordion tr.odd{
	background: #c87931;
}

form.node-snowpit_profile-form table.field-multiple-table tbody.ui-accordion tr.odd h3{
	color: #fff;
	padding-bottom: 2px;
	padding-left: 20px;
}

form.node-snowpit_profile-form table.field-multiple-table tbody.ui-accordion tr.even{
	background: #fff;
}

form.node-snowpit_profile-form table.field-multiple-table tbody.ui-accordion tr.even h3{
	color: #c87931;
	padding-bottom: 2px;
	padding-left: 20px;
}

form.node-snowpit_profile-form table th label{
	color: #c87931;
	width: 150px;
	margin: 0 auto;
}

form.node-snowpit_profile-form .field-multiple-table th.field-label{
	padding-left: 5px;
	padding-bottom: 5px;
	padding-bottom: 3px;
	border-bottom: none;
	
}

form.node-snowpit_profile-form table.field-multiple-table th{
	
	background-attachment: scroll;
	background-position: right center;
	background: -moz-linear-gradient(top, rgba(87,107,119,0.85) 0%, rgba(125,185,232,0.85) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(87,107,119,0.85) 0%,rgba(125,185,232,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(87,107,119,0.85) 0%,rgba(125,185,232,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9576b77', endColorstr='#d97db9e8',GradientType=0 ); /* IE6-9 */
	background-image: url('../images/diagonal-stripes-40.png'), linear-gradient(to bottom, #e2e4e6,#f3f3f3);
	background-repeat: no-repeat;
	background-position: right center; 
}
/* the default height is 480, applies mainly to layers
*/
form.node-snowpit_profile-form table.field-multiple-table tbody.ui-accordion .ui-accordion-content-active{
	border-top: 3px solid #c87931;
  padding: 0px 4px 4px;
  top: 1px;
}	
/*
** override for tests form width
 */
form.node-snowpit_profile-form .form-field-name-field-test table.field-multiple-table tbody.ui-accordion .ui-accordion-content-active{
	/*min-height:300px;*/
}

form.node-snowpit_profile-form .form-field-name-field-temp-collection table.field-multiple-table tbody label,
form.node-snowpit_profile-form .form-field-name-field-density-profile table.field-multiple-table tbody label{
  display: none;
}

form.node-snowpit_profile-form .form-field-name-field-temp-collection table.field-multiple-table tbody .temp_num_0 label ,
form.node-snowpit_profile-form .form-field-name-field-density-profile table.field-multiple-table tbody .density_num_0 label{
    display: block;
}

form.node-snowpit_profile-form #edit-field-temp-collection .form-type-textfield,
form.node-snowpit_profile-form #edit-field-density-profile .form-type-textfield{
	margin: 0.4rem .2rem .2rem .2rem;
}

form.node-snowpit_profile-form table.field-multiple-table{
	width: 100%;
}

form.node-snowpit_profile-form .form-field-type-field-collection{
		border: 6px solid #c87931;
		min-width: 275px;
}

form.node-snowpit_profile-form .form-field-name-field-date-time .form-item-field-date-time-und-0>label{
	display:none;
}

form.node-snowpit_profile-form label{
	color: #4e4e4e;
	font-weight:normal;
	font-size:1.1em;
}


form.node-snowpit_profile-form .group-core-info label{
	display: inline-block;
}

form.node-snowpit_profile-form .group-core-info .form-item-field-100-km-grid-square-id-und-0-value label,
form.node-snowpit_profile-form .group-core-info .form-item-field-east-und-0-value label,
form.node-snowpit_profile-form .group-core-info .form-item-field-north-und-0-value label,
form.node-snowpit_profile-form .group-core-info .form-item-field-mgrs-easting-und-0-value label,
form.node-snowpit_profile-form .group-core-info .form-item-field-mgrs-northing-und-0-value label,
form.node-snowpit_profile-form .group-core-info .form-item-field-utm-zone-und label{
	display: block;
}

form.node-snowpit_profile-form #edit-field-utm-zone,
form.node-snowpit_profile-form #edit-field-100-km-grid-square-id,
form.node-snowpit_profile-form #edit-field-mgrs-easting,
form.node-snowpit_profile-form #edit-field-mgrs-northing,
form.node-snowpit_profile-form #edit-field-east,
form.node-snowpit_profile-form #edit-field-north{
	display: inline-block;
	padding-right: 8px;
	
	
}

.group-utm-mgrs{
	padding-bottom: 4px;
	border-top: 2px solid #c87931;
	border-bottom: 2px solid #c87931;
}
#edit-field-total-height-of-snowpack{
	border-top: 2px solid #c87931;
}

/*  
    override the oabove for MGRS
*/





form.node-snowpit_profile-form .form-item-field-latitude-und-0-value label,
form.node-snowpit_profile-form .form-item-field-longitude-und-0-value label{
	width: 80px;
}

form.node-snowpit_profile-form .tabledrag-toggle-weight-wrapper {
    display: none;
}

form .group-snowpit{
	background-color: #fff;
	clear: both;
	position: relative;
	top: -30px;
}

#edit-field-graph-canvas {
    display: inline-block;
    width: 933px;
		border: 6px solid #c87931;
}

#edit-field-google-map-canvas,
fieldset.group-stability {
	display: inline-block;
	float: right;
	width: 630px;
	height: 370;
	margin-left: -500px;
  border-left: 3px solid #c87931;
	border-right: none;
	margin-right: 0px;
	padding: 0;
	background-color: #c87931;
	border-top: none;
}

fieldset.group-stability .fieldset_wrapper{
	padding-left: 12px;
}

#snowpilot-map{
	background-color: #fff;
	width: 630px;
	height: 370px;
	
}

.tabs-secondary {
    margin-top: -0.5em;
}

#snowpit-profile-node-form fieldset.group-core-info #edit-body{
	width: 46%;
	
}
/*
//  A brutish way to hide the 'Mountain Range' dropdown on the user profile edit form
*/
#user-profile-form .field-name-field-loaction .form-type-cshs div:nth-child(4)
/*,#user-profile-form .field-name-field-loaction.field-widget-taxonomy-hs .hierarchical-select .selects select:nth-of-type(2)*/
{
	display: none;
}


/*
fieldset.group-location,
fieldset.group-weather {
	width: 45%;
	display: inline-block;
}
*/
/*
//  itemw to modify the appearance of the snowpits/query page:
*/

#block-views-snowpit-list-block-1 header{
	display: none;
}

.views-exposed-form #edit-field-loaction-tid-wrapper .description{
	display: none;
}

form#views-exposed-form-snowpit-list-page .views-exposed-widget.views-submit-button{
/*	clear: both;
	*/
}
	
#edit-field-latitude{
	/*display: inline-block;
	width: 49%;
}
#edit-field-longitude{
	display: inline-block;
	width: 49%;*/
}

#snow_profile_diagram{
	background-color: #fdfdfd;
	
}

/*
    Measure from top / bottom link formatting ( on Layers Tab )
*/

#snowpit-profile-node-form #edit-field-depth-0-from label{
	display: inline-block;
	font-weight: normal;
	font-size:.9em;
	color: #112F40;
}

#snowpit-profile-node-form #edit-field-depth-0-from .description{
  padding-top: 3px;
	font-color: #112F40;
}

#snowpit-profile-node-form #edit-field-depth-0-from select{
	font-size:.85em;
	width: 70px;
	color: #112F40;
}

button#edit-button,
button#save-button,
button#print-button{
	/*display: inline-block;*/
	background-color:#f8fff0;
}

#block-block-2 .save,
#edit-button{
	float: right;
}

.group-snowpit .horizontal-tabs ul.horizontal-tabs-list,
#edit-actions{
	background-color: #3b6e8b;
	line-height: 25px;
}

body.node-type-snowpit-profile ul.tabs-primary{
	display:none;
}

#block-block-2 img.profile-graph{
	display: block;
	
}

/*
//  scrunch header on add/edit snowpit pages
//
*/

body.page-node-edit.node-type-snowpit-profile .header__logo-image,
body.page-node-add-snowpit-profile .header__logo-image{
	height: 45px;
	width: 138.75px;
}

body.page-node-edit.node-type-snowpit-profile #block-block-6,
body.page-node-add-snowpit-profile #block-block-6{
	bottom: 60px;
	
}

body.page-node-edit.node-type-snowpit-profile nav#secondary-menu,
body.page-node-add-snowpit-profile nav#secondary-menu{
	bottom: 15px;
}

body.page-node-edit.node-type-snowpit-profile header.header,
body.page-node-add-snowpit-profile header.header{
	height: 55px;
}

body.page-node-edit.node-type-snowpit-profile a#logo,
body.page-node-add-snowpit-profile a#logo{
	margin: 1px 5px;
}

body.page-node-edit.node-type-snowpit-profile #navigation,
body.page-node-add-snowpit-profile #navigation{
	position:absolute;
	left: 250px;
	top: -47px;
	width: 50%;
	background: transparent;
}

body.page-node-edit.node-type-snowpit-profile #main,
body.page-node-add-snowpit-profile #main{
	padding-top: .3em;
	
}

body.page-node-edit.node-type-snowpit-profile #content,
body.page-node-add-snowpit-profile #content{
	min-width: 1100px;
}

.create-new-item {
    background: #fff;
}

a.help-link {
    background: transparent url('/sites/all/modules/advanced_help/help.png') no-repeat top left;
        background-position-x: left;
        background-position-y: top;
    background-position: 0px 0px;
    display: inline-block;
    height: 12px;
    margin-top: 2px;
    padding: 0px;
    width: 12px;
}

.advanced-help-topic{
	margin: 0.5rem 1.0rem ;
}


.views-count{
  padding-top: 5px;
}
	
#main, #header, #footer{
	max-width: 1360px;
	margin: 0 auto;
}

body.page-node-edit.node-type-snowpit-profile #main-menu ul.links li.menu-514,
body.page-node-add-snowpit-profile  #main-menu ul.links li.menu-514{
	display:none;
}

body.not-logged-in #edit-uid-current-wrapper{
	display: none;
}

#edit-field-loaction-tid-wrapper {
    width: 220px;
}

form.node-snowpit_profile-form .vertical-tabs{
	margin-right: 350px;
}

#edit-actions2{
	float: right;
	margin-right: 300px;
	position:relative;
	z-index: 1;
	clear: both;
}

#block-block-2 .save {
    display: inline-block;
}

#edit-submit--2,
#edit-submit,
#edit-button,
#block-block-2 .download{
	background-color: #f8fff0;
	color: #334E5F;
	border: 2px solid #d4d8dc;
	border-radius: 6px;
	margin: 2px 10px;
}

#edit-delete--2,
#edit-delete,
#block-block-2 .save,
#block-block-2 .download {
    background-color: #fef5f1;
    border: 2px solid #d4d8dc;
    border-radius: 6px;
    color: #8c2e0b;
    margin: 2px 10px;
}

#block-block-2 .save{
  background-color: #3b6e8b;
}

#block-block-2 .save a,
#block-block-2 .download a{
	color: #fff;
}

#block-block-2 .save,
#edit-button,
#block-block-2 .download{
  padding: 2px 10px;
	margin-bottom: 6px;
}

#block-block-2 .download {
    background-color: #3b6e8b;
    width: 175px;
		float:right;
}

#block-block-2 button + div.download {
  margin-left: 22px;
	display: inline-block;
  
}
.field-name-field-stability-test-score-ct,
.field-name-field-ct-score{
	display: inline-block;
}

#block-block-2 .download div.ctools-dropdown-container,
#block-block-2 .save div.ctools-dropdown-container{
	background-color: #3b6e8b;
}

#block-block-2 button#edit-delete{
	float: right;
}


#block-block-2 {
    position: relative;
    top: -31px;
}

#edit-0 {
    display: inline-block;
}

#edit-pre-delete {
    background-color: #fef5f1;
    border: 2px solid #d4d8dc;
    border-radius: 6px;
    display: inline-block;
    margin: 1px 10px;
    padding: 2px 10px;
}

#edit_pre_delete .delete_pit_wrapper{
	margin: 5px 8px;
	
}

.page-node-delete.node-type-snowpit-profile div.download,
.page-node-delete.node-type-snowpit-profile div.save{
	display: none;
}

.page-node-delete.node-type-snowpit-profile h1#page-title{
  color: #C87931;
	background-color: #fff;
}
.page-node-delete #block-block-2{
	top:0px;
}

.node-type-snowpit-profile form#node-delete-confirm input.form-submit{
	background-color: #fef5f1;
}
/*
 			Nice good green color: #5db978;
			

*/

/*@media print {
    :not(.printable) { display: none; }
    img.printable { display: block; }
		
}*/

/* User Profiles page formatting */

#content .profile div.field {
    border-top: 1px solid #efefef;
    max-width: 450px;
    min-height: 25px;
    padding-top: 2px;
}

#edit-field-density-units{
	display: none;
}

#edit-field-professional-affiliation .dropbox-title{
	font-weight: bolder;
	color: #4c4c4e;
}

#edit-field-professional-affiliation .dropbox table{
	color: #4c4c4e;
}

#edit-field-professional-affiliation .dropbox td{
	padding: 3px;
}

#edit-field-professional-affiliation .dropbox-entry{
	padding: 3px;
}

body.node-type-snowpit-profile{
	
}

/*
//  snowpits list formatting
  rescale graph layer images for list use
*/

/*
//  Here is a list of views classes that correpsond to the fields in this view, for later formatting
*/
/* Snowpit Title, shown above graph image */
#content .view-snowpit-list .views-field-title a,
#content .view-new-test-search .views-field-title a
{
	color: #fff;
}
/* the region-> range area*/
.view-snowpit-list .views-snowpit-region-range,
.view-new-test-search  .views-snowpit-region-range{


}
/* User name */
.view-id-snowpit_list .views-user-name{
	
	
}

.view-snowpit-list .date-display-single{
	/*color: white; */
}

.view-snowpit-list.view-display-id-page_2 a{
	color: white;
}



.view-snowpit-list.view-display-id-page_2 td > div{
	background-color: #c87931;
}

/* graph image wrapper*/
.view-snowpit-list table,
.view-new-test-search table
{
	margin: 0 auto;
	width: 100%;
}
.view-snowpit-list.view-display-id-block .view-content  {
}

#content .view-snowpit-list.view-display-id-page_3 .view-content{
	float: right;
	display: inline-block;
}


#block-views-snowpit-list-block,
#block-views-snowpit-list-block-1{
	background-color: #c87931;
	padding-bottom: 10px;
	margin-bottom: 3px;
}

#block-views-snowpit-list-block h2.block__title.block-title,
#block-views-snowpit-list-block-1 h2.block__title.block-title  {
	font-size: 2em;
		color: #fff;
    margin: 0 auto;
    width: 350px;
		background: none;
}

/*
//  Pager formatting for snowpit List
*/

.view-snowpit-list ul.pager li.pager-current,
.view-new-test-search  ul.pager li.pager-current{
	color:#fcfcfc;
}

#content .view-snowpit-list ul.pager li a,
#content .view-new-test-search ul.pager li a{
	display: inline-block;
	background: #5b558e; /* Old browsers */
	background: -moz-linear-gradient(left,  #1e506d 0%, #112f40 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #1e506d 0%,#112f40 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #1e506d 0%,#112f40 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e506d', endColorstr='#112f40',GradientType=0 ); /* IE6-9 */
	padding: 8px 15px;
	border-radius: 6px;
	border: 2px solid #859c89 ;
	color: #fcfcfc;
	font-size: 1.1em;
}
.view-snowpit-list .view-header{
	padding-left: 15px;
}

#content .view-snowpit-list,
#content .view-new-test-search{
	background-color: #c87931;
	padding-bottom: 5px;
	padding-top: 5px;
}
#content .view-snowpit-list table.views-view-grid tr,
#content .view-new-test-search {
    border-bottom: 15px solid #c87931;
}

.view-snowpit-list .views-exposed-form,
.view-new-test-search .views-exposed-form {
    border-bottom: 5px solid #1e506d;
		padding-left: 35px;
}

.view-snowpit-list.view-display-id-page table td>div,
.view-new-test-search table td>div{
	max-width: 260px;
}

.view-snowpit-list table td>div.views-field-title,
.view-snowpit-list table td>div.views-graph-image,
.view-snowpit-list table td>div.views-field-nid,
.view-snowpit-list table td>div.views-field-field-date-time,
.view-new-test-search table td>div.views-field-title,
.view-new-test-search table td>div.views-graph-image,
.view-new-test-search table td>div.views-field-field-date-time{
  border-left: 7px solid #fff;
  border-right: 7px solid #fff;
	padding-top: 5px;
	padding-bottom: 5px;
}
.view-snowpit-list table td > div.views-field-field-date-time,
.view-new-test-search table td > div.views-field-field-date-time{
	border-bottom: 7px solid #fff;
}
.view-snowpit-list table tr.even,
.view-snowpit-list table tr.odd{
	background-color: #c87931;
}

.view-snowpit-list .item-wrapper{
	width: 19%; 
	display: inline-block;
	margin: 10px 0;
}


#block-views-snowpit-list-block .view-snowpit-list table td > div.views-field-title a,
#block-views-snowpit-list-block .view-new-test-search table td > div.views-field-title a{
	color: #fff;
	font-size: 1em;
}

.view-snowpit-list table td div.views-field-title,
.view-new-test-search table td div.views-field-title {
		background: #1b2d3d; /* Old browsers */
		color: #fff;
		background: -moz-linear-gradient(top, #576b77 0%, #859ca9 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #576b77 0%,#859ca9 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #576b77 0%,#859ca9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#576b77', endColorstr='#859ca9',GradientType=0 ); /* IE6-9 */
		background-color: #5a707f;
		padding-top: 5px;
		padding-bottom: 5px;
		border-top: 7px solid #fff;
		text-align: center; 
}
.view-id-snowpit_list table td > div,
.view-new-test-search table td > div{
	background-color: #fff;
	border-left: 4px solid #c87931;
	border-right: 4px solid #c87931;

}



.date-selection,
.users-orgs-selection,
.tests-button,
.geo-selection {
    padding-top: 4px;
    border-top: 2px solid #1e506d;
    margin-top: 4px;
		color: #fff;
}

.view-snowpit-list table td > div.views-field-title,
.view-new-test-search table td > div.views-field-title{

}


.view-snowpit-list table td,
.view-new-test-search table td{
	padding: 0 10px;
}

.view-snowpit-list.view-display-id-page_2 table td{
	height: 18px;
}

.region-bottom{
	min-height: 500px;
	/*background: #1b2d3d; /* Old browsers */
	/*background: -moz-linear-gradient(top, #1e506d 0%,#112f40 100%); /* FF3.6-15 */
	/*background: -webkit-linear-gradient(top, #1e506d 0%,#112f40 100%); /* Chrome10-25,Safari5.1-6 */
	/*background: linear-gradient(to bottom, #1e506d 0%,#112f40 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e506d', endColorstr='#112f40',GradientType=0 ); /* IE6-9 */
	color: #fff;
	background: url('../images/DiagonalStripes_Large.png'), linear-gradient(to bottom, #1e506d 0%,#112f40 100%);
	background-repeat: no-repeat;
	background-position: right center;
}
#block-block-7{
	padding: 20px 25px;
}

.views-graph-image img{
	height:250px;
}

/*
Organization Users admin page nicities
*/

td.views-field-field-last-name .org.admin::before {
    content: "Org Admin: ";
}
td.views-field-field-last-name .org.admin {
    background-color: purple;
    color: white;
    padding: 3px;
}

#edit-field-display-full-profile{
	width: 150px;
	display: inline-block;
}
#edit-field-display-full-profile + a.advanced-help-topic{
	display: inline-block;
}

#snowpilot-query-form > div > div.form-item,
#snowpilot-query-form > div > fieldset.form-wrapper{
	display: inline-block;
	vertical-align: top;
	
}